.todo-list li .toggle {
	cursor: pointer;
}

.todo-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

.todo-list .removed {
	display: none;
}

.todo-list .blocked {
	background-color: #f8f8f8;
}

.todo-list .editing.blocked {
	background-color: transparent;
}

.todo-list .editing input {
	
}

.offline-button {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 50%;
  
  padding: 5px 20px 10px;
  border-radius: 0 0 15px 15px;
  
  text-decoration: none;
  color: white;
  background-color: #E24141;

  transform: translateX(-50%) translateY(0);
  transition: transform 1s;
}

.offline-button-leave,
.offline-button-enter {
  transform: translateX(-50%) translateY(-100%);
}

.offline-button:hover {
  background-color: #C33333;
}

.reconnect-button {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 50%;
  
  padding: 5px 20px 10px;
  border-radius: 0 0 15px 15px;
  
  text-decoration: none;
  color: white;
  background-color: #FFCC00;

  transform: translateX(-50%) translateY(0);
  transition: transform 1s;
}

.reconnect-button-leave,
.reconnect-button-enter {
  transform: translateX(-50%) translateY(-100%);
}

.reconnect-button:hover {
  background-color: #E6B800;
}