.todo-list li .toggle {
	cursor: pointer;
}

.todo-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
  cursor: pointer;
}

.todo-list .removed {
	display: none;
}

.todo-list .blocked {
	background-color: #f8f8f8;
}

.todo-list .editing.blocked {
	background-color: transparent;
}

.todo-list .editing input {
	
}